<header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="/community">커뮤니티 페이지</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="/community"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="/community">Home</a></li>
          <li><a href="/community/search">검색</a>
          <li><a href="/community/mypage">mypage</a>
          <!-- <li><a href="about.html">About</a></li> -->
          <!-- <li><a href="services.html">Services</a></li> -->
          <li><a href="/community/feedbackboard">후기 게시판</a></li>
          <li><a href="/community/freeboard">자유 게시판</a></li>
          <li><a href="/community/prepareboard">준비 게시판</a></li>
          <li><a href="/community/createPost">게시글 작성</a>
          
          <li><a href="/industrial/industry/1">산업체</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->

    </div>
  </header><!-- End Header -->